@use '../../token/scss' as *;

@mixin icon {
  .website-cck-svg-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 28px;
    height: 28px;
    fill: $website-cck-color-font-1;

    &__svg {
      width: 100%;
      height: 100%;
    }

    &__size {
      &--sm {
        width: 24px;
        height: 24px;
      }

      &--md {
        width: 28px;
        height: 28px;
      }
    }

    &__color {
      &--default {
      }

      &--brand {
        fill: $website-cck-color-brand-default;
      }

      &--gray {
        fill: $website-cck-color-font-3;
      }
    }
  }
}
