@use '../../token/scss' as *;

$transition-duration: 150ms;

@mixin icon-button {
  .website-cck-icon-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    border: none;
    outline: transparent;
    background-color: transparent;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: $website-cck-radius-md;

    .website-cck-svg-icon {
      fill: currentcolor;
    }

    &__backdrop {
      display: none;
    }

    // Size
    &__size {
      &--md {
        width: 36px;
        min-width: 36px;
        height: 36px;
        min-height: 36px;
      }
    }

    // Types
    &__default {
      border: 1px solid $website-cck-color-border-2;
      background: radial-gradient(
        100% 100% at 50.53% 100.67%,
        $website-cck-color-bg-4 0%,
        $website-cck-color-bg-1 100%
      );
      color: $website-cck-color-font-3;

      &:hover {
        background: radial-gradient(
          100% 100% at 50.53% 100.67%,
          $website-cck-color-bg-1 0%,
          $website-cck-color-bg-3 100%
        );
      }

      &:active {
        background: radial-gradient(
          100% 100% at 50.53% 100.67%,
          $website-cck-color-bg-2 0%,
          $website-cck-color-bg-4 100%
        );
      }
    }
  }
}
