@use '../../../../token/scss/index' as *;

.welcome__host {
  position: relative;
  padding: 88px 0 168px;
  display: flex;
  align-items: center;
  gap: 64px;
}

.welcome__content {
  width: 560;
  flex: 1;
}

.welcome__description {
  max-width: 460px;
  color: var(--website-cck-color-font-3);
}

.welcome__actions-wrapper {
  display: flex;
  gap: 16px;
  margin-top: 48px;
}

.welcome__ds-title {
  margin-top: 84px;
  color: $website-cck-color-font-4;
  font: $website-cck-text-sm-regular;
}

.welcome__ds-wrapper {
  display: flex;
  gap: 24px;
  align-items: center;
  margin-top: 8px;
}

.welcome__ds-empty-spot {
  display: flex;
  align-items: center;
  border-radius: 500px;
  border: 1px dashed $website-cck-color-border-3;
  color: $website-cck-color-font-4;
  font: $website-cck-text-sm-regular;
  padding: 4px 12px;
  cursor: pointer;

  &:hover {
    background-color: $website-cck-color-bg-3;
  }
}

.welcome__overlay-wrapper {
  flex: 1.5;
  position: relative;
  align-self: stretch;
}

.welcome__overlay-image {
  opacity: 0.6;
  height: 100%;
  width: auto;
  object-fit: none;
}

.welcome__overlay-effect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(ellipse at center, transparent 60%, var(--website-cck-color-bg-0) 80%),
    linear-gradient(to bottom, var(--website-cck-color-bg-0) 0, transparent 20px),
    linear-gradient(to right, var(--website-cck-color-bg-0) 0, transparent 20px),
    linear-gradient(to left, var(--website-cck-color-bg-0) 0, transparent 20px),
    linear-gradient(to top, var(--website-cck-color-bg-0) 0, transparent 20px);
}
